@tailwind base;
@tailwind components;
@tailwind utilities;

*  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Poppins', sans-serif;
}

.no-scrollbar{
  scrollbar-width: none;
  -ms-overflow-style: none;
}

::-webkit-scrollbar{
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgb(206, 204, 204);
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}